version: "3.8"
services:
  db:
    image: postgres:15
    container_name: tasksdb
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: "devpass"
      POSTGRES_DB: tasksdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data:
